[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
py-cord = "*"
python-dotenv = "*"
rich = "*"

[dev-packages]
black = "*"
flake8 = "*"

[requires]
python_version = "3.10"
